<h1>Cities#show</h1>
<p>Find me in app/views/cities/show.html.erb</p>
<p><%= @city.city_name %></p>
  <img src=<%= @city.image_url %>>

<% for post in @posts %>
  <%= link_to post.post_title, '/posts/show/' + post.id.to_s %>
<% end %>
