<h1>Posts#new</h1>

Add New Post

<%= form_for @post do |f| %>
  <div>
    <%= f.text_field :post_title, placeholder: "Title" %>
  </div>
  <div>
    <%= f.text_field :post_content, placeholder: "content" %>
  </div>

  <%= f.submit "Create Post" %>

<% end %>
