<%= form_for @user, url: "/sessions", method: "post" do |f| %>
  <div>
    <%= f.email_field :email, placeholder: "Email" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <%= f.submit "Log In" %>
<% end %>
