<%= image_tag "https://static.pexels.com/photos/28184/pexels-photo-28184.jpg", id: "city-img" %>

<div class="row">
	<div class="col m8 offset-m2 top-margined">
		<div class="card white-grey darken-1 animated slideInDown">
			<div class="card-content black-text"><h4>Oh boy it looks like something's gone wrong with our server. Sorry.</h4></div>
		</div>
	</div>
</div>
