<div class="row">
  <div class="col m8 offset-m2">
	<div class="card white-grey darken-1">
	  <div class="card-content black-text">
		  City Approved! <%= link_to @city.city_name, '/cities/' + @city.url_display %>
	  </div>
	</div>
  </div>
</div>