// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********Cities Index *******/
#cities-index-container {
    margin-top: 8em;
}

#nomad-cities {
    text-align: center;
}

.city-index-btn {
    margin: 0 auto;
}

.post-snippet {
    display: flex;
    width: 100%;
    background-color: white;
    background-color: rgba(255,255,255,0.8);
    padding: 1em;
    text-align: center;
}

#city-individual-post {
    padding: 0.5em;
}

#posted-by {
    font-size: 16px;
}

li {
    list-style: none;
}

.red-font {
    color: #d32f2f;
    
}

