body, html {
		height: 100%;
	}

	#site-title {
		margin-left: 20px;
	}

	#login-form {
		background-color: rgba(255,255,255,0.80);
		text-align: center;
	}


body * {

    color: black;
}

ul {
    display: inline;
}

a {
    display: inline;
}

nav {
    background-color: rgba(0, 0, 0, 0);
}

#login-logout-bar {
    position: fixed;
}

#login-form {
    background-color: rgba(255, 255, 255, 0.80);
		text-align: center;
    margin-top: 30%;
    padding-bottom: 20px;
}

#new-post {
    background-color: rgba(255, 255, 255, 0.8);
}

#new-post-form {
    z-index: 1;
    text-align: center;
    padding-top: 6%;
    justify-content: center;
    width: 50%;
    height: 220px;
}

#site-title {
    margin-left: 20px;
}

.btn {
    margin: 0 auto;
    background-color: black;
    color: grey;
}

.btn:hover {
    background-color: grey;
    color: black;
}

.centered {
    margin-top: 30px;
    text-align: center;
}

.city-card {
	overflow: auto;
}

.input-field label {
    color: red;
    text-align: center;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}

.login-div {
    position: relative;
    text-align: center;
    z-index: 0;
    margin-top: 200px;
    margin-left: 200px;
}

.post-div {
    color: black;
}

.top-margined {
  margin-top: 15vh;
}

.city-post {
	margin-left: 10px !important;
	margin-right: 10px !important;
	height: 200px !important;
	overflow: auto !important;
}

#city-posts-container {
	margin-left: 10%;
}

.city-name {
	margin-top: 80px;
	font-weight: 600;
}

.btn {
	background-color: #d32f2f !important;
}

#create-post-btn {
	background-color: #d32f2f !important;
}

.redify {
	color: #d32f2f !important;
}

.blackify {
	color: #000;
	font-weight: 500;
}
