// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  /*body {
    background-image: url("https://static.pexels.com/photos/4097/city-cars-traffic-lights.jpeg");
    background-position: center;
    background-size: cover;
  }*/
  body {
    -webkit-transition: background-color 0.8s;
  }

  #user-show-container {
    height: 80%;
  }

  #profile-card {
    height: 100%;
    opacity: .92;
    padding-top: 80px;
    box-sizing: initial;
    margin-top: 1em;
  }

  #profile-info {
    text-align: center;
    height: 100%;
  }

  #profile-name {
    margin-top: 10%;
  }

  #posts-container {
    height: 100%;
    overflow: auto;
  }

  .post-content {
    text-align: justify;
  }

  hr {
    border: 1px solid #9e9e9e;
  }

  #new-form {
    background-color: rgba(255,255,255,0.85);
    text-align: center;
    margin-top: 30%;
    padding-bottom: 20px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  #background-img {
    background-size: cover;
    background-position: center;
    -webkit-filter:brightness(80%);
    -moz-filter:brightness(80%);
    filter:url(#brightness);
    filter:brightness(80%);
    position: fixed;
    width: 100%;
    height: auto;
    top: 20;
    left: 0;
    -webkit-transition: opacity 0.8s;
  }

  #explore-container {
    padding-left: 40px;
    padding-right: 40px;
    height: 900px;
    overflow: auto;
    margin-top: 40px;
  }

  .card-title {
    font-weight: 500 !important;
  }

  #welcome-text {
    font-weight: 600;
    text-align: left;
    margin-left: 40px;
    padding-top: 6%;
  }

  #welcome-tag {
    font-weight: 600;
    text-align: left;
    margin-left: 40px;
  }

  #welcome-btn {
    margin-left: 40px;
    background-color: #d32f2f;
  }

  #welcome-modal {
    background-color: #fff;
  }

  .redify {
    color: #d32f2f !important;
  }

  .redify-bgk {
    background-color: #d32f2f !important;
  }

  .explore-img {
    height: 300px;
    width: 100%;
    display: block;
    margin: auto;
  }

  #sf-img {
    height: 400px;
  }
  .input-field label {
     color: #d32f2f !important;
   }

  .input-field input[type=text]:focus + label {
     color: #d32f2f !important;
   }

  .input-field input[type=text]:focus {
     border-bottom: 1px solid #d32f2f !important;
     box-shadow: 0 1px 0 0 #d32f2f !important;
   }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #f44336;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    color: #f44336;
  }

  :-ms-input-placeholder { /* IE 10+ */
    color: #f44336;
  }


  :-moz-placeholder { /* Firefox 18- */
    color: #f44336;
  }
